.topic{
    position:absolute;
    top: 5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo{
    position: relative;
}

.topic-text{
    display: inline;
    margin-left: 25px;  
    color: white;
}

.add-city{
    position: absolute;
    top: 15%;
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 45px;
}

.city-input{
    background-color: #1f2128;
    border-style: none;
    border-radius: 6px;
    font-weight: bold;
}

.city-input-btn{
    background-color: #6961ab;
    color: white;
    border-style: none;
    border-radius: 6px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.city-input-btn:hover{
    background-color: #ffffff;
    color: #6961ab;
}

.card-main{
    position:absolute;
    top: 30%; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-left: 15%;
    margin-right: 15%;
}

.card-each{
    height: 350px;
    background-color: #383b47 ;
    color: white;
    border-radius: 20px;
}

.card-img{
    background-color: #388ee7;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-top-left{
    position: absolute;
    padding: 30px;
    text-align: center;
}

.card-top-left h2{
    font-size: 40px;
}

.card-top-left p{
    font-size: 20px;
}

.card-top-right{
    position: absolute;
    padding: 30px;
    margin-left: 60%;
    text-align: center;
}

.card-top-right h1{
    font-size: 50px;
}

.card-body-middle{
    position: absolute;
    top: 60%;
    left: 38%;
    font-weight: bold;
}

.card-body-right{
   position: absolute;
   top: 60%;
   left: 72%;
   font-weight: bold;
}

.card-body-left{
    top: 62%;
    margin-left: 8%;
    font-weight: bold;
}

footer h3{
    text-align: center;
    color: white;
    padding: 30px;
    background-color: #484a54; 
}



@media screen and (max-width: 1400px){
    .card-main{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1000px){
    .add-city{
        padding-left: 25%;
        padding-right: 25%;
    }

    .card-body-left{
        margin-left: 5%;
    }

    .card-body-middle{
        left: 33%;
    }

    .card-body-right{
        left: 60%;
    }

    .card-top-right h1{
        font-size: 30px ;
    }

    .card-top-right h5{
        font-size: 15px ;
    }

    .card-top-right{
        margin-left: 50%;
    }

    .card-top-left h2{
        font-size: 30px;
    }

    .card-top-left h4{
        font-size: 20px;
    }

    .card-top-left p{
        font-size: 15px;
    }

    .card-body-left{
        font-size: smaller;
    }
    .card-body-middle{
        font-size: smaller;
    }
    .card-body-right{
        font-size: smaller;
    }
}


@media screen and (max-width: 500px){
    .logo{
        width: 50px;
    }

    .topic-text{
        font-size: 25px;
    }

    .add-city{
        padding-left: 15%;
        padding-right: 15%;
        height: 30px ;
    }
}


